<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakoi.social.slangApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.zakoi.social.slangApp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.zakoi.social.slangApp.permission.C2D_MESSAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name ="com.zakoi.social.slangApp.Common"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.zakoi.social.slangApp.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.zakoi.social.slangApp.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			  <action android:name="android.intent.action.VIEW"></action>
			  <category android:name="android.intent.category.DEFAULT"></category>
			  <category android:name="android.intent.category.BROWSABLE"></category>
			  <data android:host="www.zakoi.slangApp.com" android:scheme="http"></data>
			</intent-filter>
        </activity>
        <activity
            android:name="com.zakoi.social.slangApp.ChatActivity">
        </activity>
        <receiver
            android:name="com.zakoi.social.slangApp.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.zakoi.social.slangApp" />
            </intent-filter>
        </receiver>
        <provider     
		android:name="com.zakoi.social.slangApp.DataProvider"
		android:authorities="com.zakoi.provider.slangApp"       
		android:exported="true">
		</provider>
        <service android:name=".GcmMessageHandler" />

        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    </application>

</manifest>